<html>
<head>

<link rel="stylesheet" type="text/css" href="../static/stylesheets/jquery-ui-1.8.21.custom.css">
<link rel="stylesheet" type="text/css" href="../static/stylesheets/jquery-ui-timepicker-addon.css">
<link rel="stylesheet" type="text/css" href="../static/stylesheets/jquery-ui-timepicker-addon.css">
<link rel="stylesheet" type="text/css" href="../static/stylesheets/jquery.noty.css">
<link rel="stylesheet" type="text/css" href="../static/stylesheets/noty_theme_twitter.css">
<script src="../static/javascripts/jquery-1.6.4.min.js" type="text/javascript"></script>
<script src="../static/javascripts/jquery-ui-1.8.20.custom.min.js" type="text/javascript"></script>
<script src="../static/javascripts/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
<script src="../static/javascripts/utilityFunctions.js" type="text/javascript"></script>
<script src="../static/javascripts/jquery.noty.js" type="text/javascript"></script>



<script type="text/javascript">
			jQuery(document).ready(function() {

				
				jQuery.ajaxSetup({
					async : false
				});
			jQuery("#staticImage").hide();
			createDateTimePicker("#start_date_time");
			createDateTimePicker("#end_date_time");
				jQuery("#view_data").click(function() {
					
					showNoty("Loading..","center",false);

					var parameter,start_time,end_time,mac;

					parameter=jQuery("#parameter").val();
					start_time=datetimeToEpoch(jQuery("#start_date_time").val());
					end_time=datetimeToEpoch(jQuery("#end_date_time").val());

					mac=jQuery("#jplug").val();
					var obj={};
					obj["start_time"]=start_time;
					obj["end_time"]=end_time;
					obj["parameter"]=parameter;
					obj["mac"]=mac;
					
					var receivedData={};
					var temp="http://"+document.location.hostname+":"+document.location.port+"/";
					jQuery.post(temp+"query", JSON.stringify(obj), function(data) {

						
							receivedData = data;
						

						});
					jQuery.noty.closeAll();

					var filename=receivedData["filename"];
					jQuery("#staticImage").attr("src","../static/images/"+filename);
					jQuery("#staticImage").show();

				});

			});
			

</script>
</head>

<body>
	<title> Smart Meter Console</title>

	<br/>
	<label>JPlug</label>
	<select id=jplug>
  		<option value="001EC00CC49C">001EC00CC49C</option>
  		<option value="001EC00CC49F">001EC00CC49F</option>
 	 	<option value="001EC00CC4A1">001EC00CC4A1</option>
 		<option value="001EC00D7A18">001EC00D7A18</option>
  		<option value="001EC00CC49D">001EC00CC49D</option>
  		<option value="001EC00CC4A0">001EC00CC4A0</option>
  		<option value="001EC00CC4AD">001EC00CC4AD</option>
  		<option value="001EC00D7A1D">001EC00D7A1D</option>
		<option value="001EC00D7A1C">001EC00D7A1C</option>
		<option value="001EC00E6BBD">001EC00E6BBD</option>
		<option value="001EC00E6BB6">001EC00E6BB6</option>
	</select>
	<br/>
	<label>Parameter</label>
	<select id=parameter>
  		<option value="active_power">Active Power</option>
  		<option value="reactive_power">Reactive Power</option>
  		<option value="voltage">Voltage</option>
 	 	<option value="current">Current</option>
 	 	<option value="frequency">Frequency</option>
 	 	<option value="energy">Energy</option>
 		 
	</select>
	<br/>
	<label>Start Time </label> <input type="text" id="start_date_time" name="start_date_time" readonly='true' />

<br/>
<label>End Time </label> <input type="text" id="end_date_time" name="start_date_time" readonly='true' />

	<br/>

	<button id="view_data">View</button>


	<div id="hello"></div>
	 <img id="staticImage"></img>
</body>

</html>
